#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
vnc/vnc/*.log
vnc/vnc/*.pid
vnc/vnc/passwd
ssh/known_hosts
ssh

emacs/emacsd/eln-cache
