#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
vnc/*.log
vnc/*.pid
vnc/passwd

ssh/known_hosts
ssh

emacsd/eln-cache

zsh/custom-zsh-config/plugins/fig-prompt/**
zsh/custom-zsh-config/plugins/google/**

bin/conda
