#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

*.swp
.DS_Store
*~
vnc/*.log
vnc/*.pid
vnc/passwd

ssh/known_hosts
ssh

emacs.d/eln-cache/**

custom-zsh-config/plugins/fig-prompt/**
custom-zsh-config/plugins/google/**

bin/conda
